* {
    padding: 0;
    margin: 0;
}


header {
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0px;
}

main {
    margin-top: 100px;
}


li {
    margin-bottom: 10px;
}

.thirdLI {
    background-color: blue;
}

span {
    width: 95%;
    padding: .5rem;
    border: 1px solid black;
    margin: .5rem;
    display: inline-block;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item {
    border: 2px solid blue;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    flex-grow: 1;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
}
.cell { 
    border: 1px solid black;   

}

.two {
    grid-column: 2/5;
    grid-row: 1/3;
}
.three {
    grid-column: 2/5;
    grid-row: 2/4;
}

.seven {
    grid-column: 2/5;
}

.mediaquery {
    border: 2px solid black;
    width: 1200px;
    height: 800px;
    background-color: chartreuse;
}

.box {
    border: 2px solid black;
    height: 20rem;
    width: 20rem;
    position: relative;
}

.relative,
.absolute {
    border: 2px solid blue;
}

.relative {
    height: 10rem;
    width: 10rem;
    position: relative;
    top: 0px;
    left: calc(10rem - 4px);
}

.absolute {
    height: 5rem;
    width: 5rem;
    position: absolute;
    bottom: 0px;
}

.background {
    margin: 0 auto;
    width: 1200px;
    height: 900px;
    background-image: url("images/tree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

}

.background img {
    margin: auto 0;
}

img[alt="Image 3"] {
    /* box-sizing: border-box; */
    padding: 5px;
    border: 1px solid blue;
}

.spanTest>span:nth-child(even) {
    background-color: brown;
}

.h3_headlines {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: darkred; 
}

footer a:visited {
    color: forestgreen;
}

footer a:hover {
    color: fuchsia;
}

li {
    text-decoration-line: line-through;
}

@media only screen and (max-width: 767px) {
    .mediaquery {

        background-color: yellow;
        width: 7rem;
        height: 7rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mediaquery {

        background-color: red;
        width: 10rem;
        height: 10rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .mediaquery {

        background-color: purple;
        width: 12rem;
        height: 12rem;
    }
}



