* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    border: 1px solid black;
    height: 100vh;
    margin: 5px;
}

#masthead {
    background: black;
    color: white;
    margin-bottom: 25px;
}

#masthead p {
    font-size: 4em;
    margin: 20px;
    padding: 20px;
}

nav {
    background: deepskyblue;
    height: 6vw;
}

nav>li {
    display: inline-block;
    vertical-align: top;
}

.clicked {
    background-color: black;
    color: aqua;
}

ul {
    background: deepskyblue;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
    display: block;
    font-size: 2em;
    line-height: 2em;
    padding: 15px;
    text-decoration: none;
}


.dropdown {
    display: none;
}

.dropdown a {
    background: black;
}

.dropdown a:hover {
    border-bottom: 1px solid red;
    color: red;
}