<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>BING</title>

</head>
<body>
    <header>
        <div class="navigation-1">
            Home
        </div>
        <div class="logo">BING</div>
        <div class="navigation-2">navigation 2</div>
    </header>
    <main>
        <input type="text" placeholder="Enter keywords here ...">
        <button>Search</button>
    </main>
        
    <footer>
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col"><img src="https://www.bing.com/th?id=OPN.RTNews_fP9R6IkUzHzLVpBA9km2gw&w=186&h=88&c=7&rs=2&qlt=80&cdv=1&pid=News" alt="1 slide"></div>
                        <div class="col"><img src="https://www.bing.com/th?id=OPN.RTNews_KceFiuwhccKl2Kx_YWYQfA&w=186&h=88&c=7&rs=2&qlt=80&cdv=1&pid=News" alt="2 slide"></div>
                        <div class="col"><img src="https://www.bing.com/th?id=OPN.RTNews_5aGJc2dkEcyryI3JC_0Zug&w=186&h=88&c=7&rs=2&qlt=80&cdv=1&pid=News" alt="3 slide"></div>
                    </div>
                    <div class="row">
                        <div class="col"><img src=".." alt="4 slide"></div>
                        <div class="col"><img src=".." alt="5 slide"></div>
                        <div class="col"><img src=".." alt="6 slide"></div>
                    </div>
                </div>
            </div>
        </div>
        <button>Der Jackson Square im ...</button>
    </footer>
</body>
</html>