/* Use flexbox to display the divs in a row. 
When resizing the page, the divs should take up all available space */


div {
    height: 100px;
    width: 150px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}
